doctype html
html
  head
    meta(charset="utf-8")
    title fis3 temp
    link(rel="stylesheet", href="css/index.less")
  body
    p this is fis3 temp index.jade
    div
      i.sprite-ico.sprite-test1
      i.sprite-ico.sprite-test2
      i.sprite-ico.sprite-test3

    sd-app loading...

    script.
      //- var NODE_ENV =  __NODE_ENV;

      require("./index.js");
